<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Twitchmote.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <Twitchmote.Properties.Settings>
      <setting name="room" serializeAs="String">
        <value>#TwitchPlaysAGame</value>
      </setting>
      <setting name="game" serializeAs="String">
        <value>pokemon</value>
      </setting>
      <setting name="user" serializeAs="String">
        <value>TwitchPlaysAGame</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>oauth:j14ejwma0x9zbmum5tngjtxraxjw9ud</value>
      </setting>
      <setting name="server" serializeAs="String">
        <value>199.9.252.26</value>
      </setting>
      <setting name="elapsed" serializeAs="String">
        <value>23:59:55</value>
      </setting>
    </Twitchmote.Properties.Settings>
  </userSettings>
  <appSettings>
  </appSettings>
</configuration>